<!-- FOOTER -->
<div class="jumbotron text-center" style="margin-bottom:0;">
    <div>
        <h2>CONTACT US</h2>
        <h3 style="line-height: 0.9;"><small class="text-muted">testemail@gmail.com</small></h3>
        <h3 style="line-height: 0.9;"><small class="text-muted">+91-9191908080</small></h3>
        <h3 style="line-height: 0.9;"><small class="text-muted">House no 1, Test Path, Assam, India</small></h3>
    </div>
    <br>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-linkedin"></a>
</div>
</body>

</html>