<%- include("partials/header") %>

    <br>
    <h1 style="text-align: center;">FACULTY LIST</h1>
    <br>

    <div class="card-columns">
        <div id="grad" class="card bg-light">
            <div class="card-body text-center">
                <h3><strong>John Doe</strong></h3>
                <h4>Designation: <strong>Asst. Teacher</strong></h4>
                <h4>Subject taught: <strong>Science, Maths</strong></h4>
            </div>
        </div>
        <div id="grad" class="card bg-light">
            <div class="card-body text-center">
                <h3><strong>John Doe</strong></h3>
                <h4>Designation: <strong>Asst. Teacher</strong></h4>
                <h4>Subject taught: <strong>Science, Maths</strong></h4>
            </div>
        </div>
        <div id="grad" class="card bg-light">
            <div class="card-body text-center">
                <h3><strong>John Doe</strong></h3>
                <h4>Designation: <strong>Asst. Teacher</strong></h4>
                <h4>Subject taught: <strong>Science, Maths</strong></h4>
            </div>
        </div>
        <div id="grad" class="card bg-light">
            <div class="card-body text-center">
                <h3><strong>John Doe</strong></h3>
                <h4>Designation: <strong>Asst. Teacher</strong></h4>
                <h4>Subject taught: <strong>Science, Maths</strong></h4>
            </div>
        </div>
        <div id="grad" class="card bg-light">
            <div class="card-body text-center">
                <h3><strong>John Doe</strong></h3>
                <h4>Designation: <strong>Asst. Teacher</strong></h4>
                <h4>Subject taught: <strong>Science, Maths</strong></h4>
            </div>
        </div>
        <div id="grad" class="card bg-light">
            <div class="card-body text-center">
                <h3><strong>John Doe</strong></h3>
                <h4>Designation: <strong>Asst. Teacher</strong></h4>
                <h4>Subject taught: <strong>Science, Maths</strong></h4>
            </div>
        </div>
    </div>

    <br>

    <%- include("partials/footer") %>