<%- include("partials/header") %>

    <h1 class="portal"><small class="text-muted"><b>ADMIN PORTAL</b></small></h1>
    <div class="text-center">
        <a class="btn btn-primary btn-lg" href="/logout">LOG OUT</a>
    </div>
    <hr>
    <div class="manage">
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="/adminManageNotifications">MANAGE NOTIFICATIONS</a>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="/adminManageActivities">MANAGE ACTIVITIES</a>
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="/">GO BACK TO HOME</a>
        </div>
    </div>