.header{
    background-color: #F1F1F1;
    text-align: center;
    padding: 15px;
}

/* SLIDE SHOW */
* {box-sizing:border-box}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  
  .mySlides {
    display: none;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* Messages, Activities and Notifications */

.messages{
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.message{
  width: 50%;
  padding: 30px;
  margin: 10px;
  box-sizing: border-box;
	line-height: 1.7;
  border: 1px line lightgrey;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#pr{
  text-align: center;
}

@media (max-width: 768px){
  .messages{
    display: block;
  }
  .message{
    width: 100%;
    margin: 5px;
  }
}

#grad{
  background-image: linear-gradient(to bottom right, lightgray, white);
}

#shad{
  text-shadow: 2px 2px 4px #a39e9e;
}

/* HISTORY */

.history{
  border: 1px line lightgray;
  border-radius: 15px;
  margin: 0 40px 0 40px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FOOTER */

.fa{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* FACILITIES BUTTON */
#facButton{
  padding-left: 80px;
  padding-right: 80px;
  border-radius: 15px;
}
.facContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}